streamlit>=1.42.0
requests
pandas
datetime
# oauthlib
# requests-oauthlib
Authlib>=1.3.2



# The following are not required, as these are std python libraries, and therefore already available
#pathlib
#base64